<% search_result = search_result || false %>
<% if search_result %>
  <div class="post_container">
    <div class="post">
    </div>
    <div class="comments">
    <% end %>
    <div class="comment">
      <img class="comment_avatar" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn2/v/t1.0-1/c15.0.50.50/p50x50/10645251_10150004552801937_4553731092814901385_n.jpg?oh=37c91237919012390c2413251948e1fc&oe=55559310&__gda__=1431008679_64cd910771f70da726aa3313e1fcda2a" />
      <div class="text_container">
        <div class="author_name">
          <%= comment.from_name %>
        </div>
        <%= simple_format(
          auto_link(comment.message, :html => {target: '_blank'}) {|text| truncate(text, :length => 42)}, class: 'message') %>
          <div class="timestamp">
            <%= comment.created_time.strftime("%B %-d, %Y at %-l:%M%P") %>
          </div>
        </div>
      </div>
      <% if search_result %>
      </div>
    </div>
  <% end %>
