/* line 1, /Users/ap/code/labs/fb_server/app/assets/stylesheets/comments.scss */
.comments {
  background-color: #f6f7f8;
  border-top: 1px solid #e1e2e3;
}
/* line 2, /Users/ap/code/labs/fb_server/app/assets/stylesheets/comments.scss */
.comments .more_comments {
  cursor: pointer;
  color: #3B5998;
  font-size: 12px;
  margin-left: 52px;
  margin-bottom: 5px;
  text-decoration: none;
  display: inline-block;
}
/* line 10, /Users/ap/code/labs/fb_server/app/assets/stylesheets/comments.scss */
.comments .more_comments:hover {
  text-decoration: underline;
}
/* line 16, /Users/ap/code/labs/fb_server/app/assets/stylesheets/comments.scss */
.comments .comment {
  font-size: 12px;
  padding: 12px;
  min-height: 40px;
  line-height: 15.3599996566772px;
}
/* line 21, /Users/ap/code/labs/fb_server/app/assets/stylesheets/comments.scss */
.comments .comment .comment_avatar {
  width: 32px;
  height: 32px;
  float: left;
}
/* line 26, /Users/ap/code/labs/fb_server/app/assets/stylesheets/comments.scss */
.comments .comment .text_container {
  margin-left: 40px;
}
/* line 28, /Users/ap/code/labs/fb_server/app/assets/stylesheets/comments.scss */
.comments .comment .text_container .message {
  display: inline;
}
/* line 31, /Users/ap/code/labs/fb_server/app/assets/stylesheets/comments.scss */
.comments .comment .text_container .message a {
  color: #3b5998;
}
/* line 35, /Users/ap/code/labs/fb_server/app/assets/stylesheets/comments.scss */
.comments .comment .text_container .author_name {
  line-height: 15.3599996566772px;
  display: inline;
  font-size: 12px;
  color: #3B5998;
  cursor: pointer;
  font-weight: bold;
}
/* line 43, /Users/ap/code/labs/fb_server/app/assets/stylesheets/comments.scss */
.comments .comment .text_container .timestamp {
  color: #9197a3;
}
/* line 5, /Users/ap/code/labs/fb_server/app/assets/stylesheets/posts.scss */
body {
  margin: 25px auto;
  max-width: 470px;
  background: #E9EAED;
  font-family: Helvetica, Arial;
}
/* line 11, /Users/ap/code/labs/fb_server/app/assets/stylesheets/posts.scss */
body .searchbox {
  font-size: 14px;
  width: 100%;
  max-width: 465px;
  margin-bottom: 10px;
}
/* line 20, /Users/ap/code/labs/fb_server/app/assets/stylesheets/posts.scss */
body nav.pagination {
  font-size: 12px;
  margin: 0 auto;
  width: 470px;
  display: inline-block;
  text-align: center;
}
/* line 26, /Users/ap/code/labs/fb_server/app/assets/stylesheets/posts.scss */
body nav.pagination a {
  color: #3B5998;
  text-decoration: none;
}
/* line 29, /Users/ap/code/labs/fb_server/app/assets/stylesheets/posts.scss */
body nav.pagination a:hover {
  text-decoration: underline;
}
/* line 35, /Users/ap/code/labs/fb_server/app/assets/stylesheets/posts.scss */
body .see_more {
  text-align: right;
  color: #3B5998;
  font-size: 13px;
  display: block;
  text-decoration: none;
  margin-right: 5px;
}
/* line 42, /Users/ap/code/labs/fb_server/app/assets/stylesheets/posts.scss */
body .see_more:hover {
  text-decoration: underline;
}
/* line 47, /Users/ap/code/labs/fb_server/app/assets/stylesheets/posts.scss */
body .post_container {
  max-width: 100%;
  border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  border-radius: 3px;
  margin-bottom: 10px;
  background: white;
}
/* line 54, /Users/ap/code/labs/fb_server/app/assets/stylesheets/posts.scss */
body .post_container .post {
  padding: 12px;
}
/* line 57, /Users/ap/code/labs/fb_server/app/assets/stylesheets/posts.scss */
body .post_container .post .author {
  height: 40px;
  position: relative;
}
/* line 61, /Users/ap/code/labs/fb_server/app/assets/stylesheets/posts.scss */
body .post_container .post .author .author_img {
  border: none;
  height: 40px;
  width: 40px;
  background: gray;
  float: left;
}
/* line 69, /Users/ap/code/labs/fb_server/app/assets/stylesheets/posts.scss */
body .post_container .post .author .author_name {
  position: absolute;
  top: 3px;
  left: 45px;
  font-size: 14px;
  color: #3B5998;
  cursor: pointer;
  font-weight: bold;
  line-height: 19.3199996948242px;
}
/* line 80, /Users/ap/code/labs/fb_server/app/assets/stylesheets/posts.scss */
body .post_container .post .author .timestamp a {
  position: absolute;
  top: 22px;
  left: 46px;
  cursor: pointer;
  font-size: 12px;
  color: #9197A3;
  text-decoration: none;
}
/* line 88, /Users/ap/code/labs/fb_server/app/assets/stylesheets/posts.scss */
body .post_container .post .author .timestamp a:hover {
  text-decoration: underline;
}
/* line 93, /Users/ap/code/labs/fb_server/app/assets/stylesheets/posts.scss */
body .post_container .post .message {
  font-size: 14px;
  line-height: 19.3199996948242px;
  zoom: 1;
}
/* line 97, /Users/ap/code/labs/fb_server/app/assets/stylesheets/posts.scss */
body .post_container .post .message a {
  color: #3b5998;
}
/* line 101, /Users/ap/code/labs/fb_server/app/assets/stylesheets/posts.scss */
body .post_container .post .link {
  width: 100%;
  border: 1px solid;
  border-color: #e9eaed #e9eaed #d1d1d1;
}
/* line 105, /Users/ap/code/labs/fb_server/app/assets/stylesheets/posts.scss */
body .post_container .post .link img {
  max-width: 100%;
}
/* line 108, /Users/ap/code/labs/fb_server/app/assets/stylesheets/posts.scss */
body .post_container .post .link .story_text {
  margin: 10px 12px;
}
/* line 111, /Users/ap/code/labs/fb_server/app/assets/stylesheets/posts.scss */
body .post_container .post .link .description {
  font-size: 12px;
  line-height: 16px;
}
/* line 115, /Users/ap/code/labs/fb_server/app/assets/stylesheets/posts.scss */
body .post_container .post .link .title {
  font-size: 18px;
  font-family: Georgia, 'lucida grande', tahoma;
  font-weight: 500;
  margin-bottom: 5px;
  margin-top: 0px;
}
/* line 121, /Users/ap/code/labs/fb_server/app/assets/stylesheets/posts.scss */
body .post_container .post .link .title a {
  color: black;
  text-decoration: none;
}
/* line 126, /Users/ap/code/labs/fb_server/app/assets/stylesheets/posts.scss */
body .post_container .post .link .caption {
  font-size: 11px;
  line-height: 11px;
  text-transform: uppercase;
  color: #9197A3;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

