// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  margin: 25px auto;
  max-width: 470px;
  background: #E9EAED;
  font-family: Helvetica, Arial;

  mark {
    padding: 3px 0;
    background-color: #ECF927;
  }

  .searchbox {
    // border-radius: 4px;
    font-size: 14px;
    // height: 16px;
    width: 100%;
    max-width: 465px;
    margin-bottom: 10px;
  }
  .total_results {
    // text-align: center;
    color: #9197a3;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 3px;
  }

  nav.pagination {
    font-size: 12px;
    margin: 0 auto;
    width: 470px;
    display: inline-block;
    text-align: center;
    a {
      color: #3B5998;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .see_more {
    text-align: right;
    color: #3B5998;
    font-size: 13px;
    display: block;
    text-decoration: none;
    margin-right: 5px;
    &:hover {
      text-decoration: underline;
    }
  }

.post_container {
  max-width: 100%;
  border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  border-radius: 3px;
  margin-bottom: 10px;
  background: white;
  .post {
    padding: 12px;

    .author {
      height: 40px;
      position: relative;

      .author_img {
        border: none;
        height: 40px;
        width: 40px;
        background: gray;
        float: left;
  }

  .author_name {
    position: absolute;
    top: 3px;
    left: 45px;
    font-size: 14px;
    color: #3B5998;
    cursor: pointer;
    font-weight: bold;
    line-height: 19.3199996948242px;
  }

  .timestamp a {
    position: absolute;
    top: 22px;
    left: 46px;
    cursor: pointer;
    font-size: 12px;
    color: #9197A3;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
.message {
  font-size: 14px;
  line-height: 19.3199996948242px;
  zoom: 1;
  a {
    color: #3b5998;
  }
}
.link {
  width: 100%;
  border: 1px solid;
  border-color: #e9eaed #e9eaed #d1d1d1;
  img {
    max-width: 100%;
  }
  .story_text {
    margin: 10px 12px;
  }
  .description {
    font-size: 12px;
    line-height: 16px;
  }
  .title {
    font-size: 18px;
    font-family: Georgia, 'lucida grande', tahoma;
    font-weight: 500;
    margin-bottom: 5px;
    margin-top: 0px;
    a {
      color: black;
      text-decoration: none;
    }
  }
  .caption {
    font-size: 11px;
    line-height: 11px;
    text-transform: uppercase;
    color: #9197A3
  }
}
}
}
}

